:root {

    --StrongCyan: hsl(171, 66%, 44%);
    --LightBlue: hsl(233, 100%, 69%);
    --DarkGrayishBlue: hsl(210, 10%, 33%);
    --GrayishBlue: hsl(201, 11%, 66%);
}

body {
    font-family: Bai Jamjuree;
    background-image: url(./images/bg-header-mobile.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;

}

h1,
h2,
h3 {
    color: var(--DarkGrayishBlue);
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}


p {
    color: var(--GrayishBlue);
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .7px;
    line-height: 160%;

}

.title {
    width: 70ch;
    margin-bottom: 3rem;

}

/************** HEADER **************/

header {

    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

header p{
    width: 60ch;
}

header img {
    width: 6rem;
    margin-bottom: 3rem;
}



button {
    font-family: Bai Jamjuree;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    border-style: none;
    padding: .8rem;
    width: 16rem;
    border-radius: 50px;
    margin: .8rem;

}

.iOs {
    background-color: var(--StrongCyan);
    border-bottom: solid 3px hsl(170, 67%, 33%);
}

.Mac {
    background-color: var(--LightBlue);
    border-bottom: solid 3px hsl(233, 45%, 44%);

}

.iOs:hover {
    background-color: hsl(171, 57%, 58%);
    cursor: pointer;
}

.Mac:hover {
    background-color: hsl(233, 88%, 78%);
    cursor: pointer;
}


/************** SECTIONS **************/

main {

    box-sizing: border-box;
    padding: 2rem;

}

/************** SNIPPETS **************/

main section:nth-child(1) {
    margin-bottom: 8rem;
}

.computer img {
    width: 100%;
    margin: 3rem 0 3rem;
}

.snippets {
    margin-bottom: 1rem;
}


/************** CLIPBOARD **************/

main section:nth-child(2) img {
    width: 100%;
    margin: 2rem 0 2rem;
}


/************** WORKFLOW **************/



.workflow {
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.workflow img {

    width: fit-content;
    margin: 1rem;

}

/************** BRANDS **************/


.brands {

    margin-bottom: 5rem;
}

.logos {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 5rem;

}


/************** DOWNLOAD **************/

.download-section {
    box-sizing: border-box;
    padding: 2rem;
}

/************** FOOTER **************/

footer {

    width: 100%;
    background-color: rgb(238, 238, 238);
    margin-top: 5rem;
    box-sizing: border-box;
    padding: 2rem;
}

footer img {
    width: 3rem;
    margin: 1rem;

}

footer a {
    text-decoration: none;
    color: var(--DarkGrayishBlue);

}

a:hover {
    color: var(--StrongCyan);
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    font-size: .9rem;
    font-weight: 400;
    line-height: 160%;
}

footer li {
    margin: 1rem;
}

.rrss img {


    width: fit-content;
    margin: 1rem;
}



/***************** DESKTOP ******************/


@media (min-width:722px) {

    body {
        background-image: url(./images/bg-header-desktop.png);
    }

    /***************** DESKTOP HEADER ******************/


    header {

        margin-bottom: 3rem;
    }

    button {
        width: 13rem;
    }

    .title {
        grid-area: title;

        margin: auto;
    }

    h1 {
        font-size: 2rem;
    }

    /***************** DESKTOP SNIPPETS ******************/

    section:nth-child(1) {

        display: grid;
        grid-template-areas:
            "title title"
            "image snippets";
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;



    }

    .computer {
        grid-area: image;
        position: relative;

    }

    .computer img {
        width: 100%;
        position: absolute;
        bottom: -20rem;
        right: 5rem;

    }

    .snippets {
        text-align: left;
        margin-top: 5rem;
        width: 36ch;
    }

    /***************** DESKTOP CLIPBOARD ******************/

    section:nth-child(2) {


        margin-top: 15rem;
        align-items: center;

    }

    section:nth-child(2), img {

        width: 80%;
        margin: auto;

    }

    /***************** DESKTOP WORKFLOW ******************/


    .workflow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin-top: 4rem;
        box-sizing: border-box;
        padding: 0 5rem;
    }

    /***************** DESKTOP BRANDS ******************/
    .brands {

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 5rem;

    }

   
    .logos img {
        max-width: min-content;
      
    }



    /***************** DESKTOP FOOTER ******************/
   
   
    footer {

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
    }


    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
       
    }

    ul li {
        margin: .4rem;
        padding: 0;
       
    }

    .rrss {
        display: flex;
        margin: 0 5rem 0 5rem;
    }